<form action=""> {{!-- add action --}}

    <button><a href='/events/edit/${{this._id}}'>Edit</a></button>
    <button><a href='/events/delete/${{this._id}}'>Delete</a></button>

    <div>
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <p>{{this.location}}</p>
        <p>{{this.picture}}</p>
        <p>{{this.email}}</p>
    </div>

    <button><a href='/events/edit/${{this._id}}'>Edit</a></button> {{!-- event lisstener always it is clicked-- }} 
</form>
