{{!--<h2>All events</h2>--}}

{{!-- DON'T DELETE --}}

{{!--{{#if data.user}}
<button><a href='/events/create'>Create event</a></button>
{{/if}}--}}

<div class="allEvents">
  {{#each data.eventData}}
  <article id="list">
    <p>{{this.name}}</p>
    <p>{{this.description}}</p>
    <p>{{this.location}}</p>
    <p>{{this.activity}}</p>
    <p><img href={{this.image}} /></p>
    <a href="/events/delete/{{this._id}}"><p>Delete</p></a>
    <a href='/events/edit/{{this._id}}'>Edit event</a>
  </article>
  {{/each}}
</div>

    {{!--{{#xif "data.user._id === this.host.[0]._id"}}
        {{/xif}} --}}

